# RPC
RPC_URL_LOCAL=http://localhost:8545
RPC_URL_SEPOLIA=
RPC_URL_BASE_SEPOLIA=
RPC_URL_MAINNET=

# Deployer
DEPLOYER_ADDRESS=
DEPLOYER_PRIVATE_KEY=

# External addresses (per network)
USDC_ADDRESS=
POOL_MANAGER_ADDRESS=

# Verification
ETHERSCAN_API_KEY=
